<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoR4_Studio.Properties.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SoR4_Studio.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SoR4_Studio.Properties.ProgramSettings>
            <setting name="AppName" serializeAs="String">
                <value />
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value />
            </setting>
        </SoR4_Studio.Properties.ProgramSettings>
        <SoR4_Studio.Properties.UserSettings>
            <setting name="ModdingLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="AppLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>540</value>
            </setting>
        </SoR4_Studio.Properties.UserSettings>
    </userSettings>
</configuration>